* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 550px;
    height: 700px;
}
 

.logo {
    height: 380px;
    background: url("bnk.jpg");
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 20px ;
    overflow: hidden;
    background-color: none;
    box-shadow: white;
    
}

.login-form h2 {
    text-align: top ;
    margin-bottom: 20px;
    color: #333333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555555;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

.input-group input:focus {
    border-color: #007bff;
}

.login-btn {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 510px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #0056b3;
}

.register-link {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #333333;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
